extend layout
block content
  header
    h1= course['http://purl.org/dc/terms/title'][0].value

    .row
      .col-xs-2
      each v, index in instructors
        .col-xs-4
          div
            p
              img(src=alltriples[v.value]['http://xmlns.com/foaf/0.1/depiction'][0].value) 
            p
              a(href=alltriples[v.value]['http://xmlns.com/foaf/0.1/homepage'][0].value) #{alltriples[v.value]['http://xmlns.com/foaf/0.1/title'][0].value} #{alltriples[v.value]['http://xmlns.com/foaf/0.1/name'][0].value}
  .container
    .row
      .col-xs-12 
        p.first 
          | This course will focus on foundations and techniques for information extraction, modeling and integration. 
          | Topics covered include semantic web (RDF, OWL, SPARQL), linked data and services, mash-ups, 
          | theory of data integration, schema mappings, record/entity linkage, data cleaning, source modeling, 
          | and information extraction. The class will be run as a lecture course with significant hands-on experience. 
          | Students will work in 2 person groups to develop integrated Web applications using the research and tools 
          | covered in the class.


    // The administative information. /////////////////////////////////////////////
    //
    .row
      .col-xs-12
        h2 Administrative Information
    .row
      .col-xs-4
        strong
          | Prerequisites (can be waived):
      .col-xs-8
        each uri, index in prerequisites
          = alltriples[uri.value]['http://www.w3.org/2000/01/rdf-schema#label'][0].value
          if (index < prerequisites.length - 1)
            span= ", "
    .row
      .col-xs-4
        strong
          | Meeting Time:
      .col-xs-8
        | Monday and Wednesday 3:30-4:50pm
    .row
      .col-xs-4
        strong
          | Location:
      .col-xs-8
        = course['http://lod.isi.edu/ontology/syllabus/hasClassroom'][0].value
    .row
      .col-xs-4
        strong
          | Teaching Assistant (tentative):
      .col-xs-8
        - var taUri = course['http://lod.isi.edu/ontology/syllabus/hasTeachingAssistant']
         a(href='') #{alltriples[taUri[0].value]['http://xmlns.com/foaf/0.1/name'][0].value}
    .row
      .col-xs-4
        strong
          | Grader:
      .col-xs-8
        | Varad Pathak and Shaarif Zia
    .row
      .col-xs-4
        strong
          | Blackboard:
      .col-xs-8
        a(href='https://blackboard.usc.edu') https://blackboard.usc.edu

    // Lectures /////////////////////////////////////////////
    //
    .row
      .col-xs-12
        h2 Lectures

    each v in lectures
      hr.lecture
      .row
        .col-xs-9
          h4= alltriples[v]['http://purl.org/dc/terms/title'][0].value
        .col-xs-3
          h4.text-right= alltriples[v]['http://lod.isi.edu/ontology/syllabus/hasEventDate'][0].value
      .row
        .col-xs-9
          p= alltriples[v]['http://purl.org/dc/terms/description'][0].value
        .col-xs-3
          ul.list-unstyled
            if (typeof alltriples[v]['http://lod.isi.edu/ontology/syllabus/hasInstructor'] == 'string')
              li.text-right= alltriples[alltriples[v]['http://lod.isi.edu/ontology/syllabus/hasInstructor']]['http://xmlns.com/foaf/0.1/lastname'][0].value
            else
              each instructor in alltriples[v]['http://lod.isi.edu/ontology/syllabus/hasInstructor']
                li.text-right= alltriples[instructor.value]['http://xmlns.com/foaf/0.1/lastName'][0].value
    hr.lecture


    // Evaluation /////////////////////////////////////////////
    //
    .row
      .col-xs-12
        h2 Evaluation
    .row
      .col-xs-3
        strong
          | Quizes:
      .col-xs-8
        | 20%
    .row
      .col-xs-3
        strong
          | Homeworks:
      .col-xs-8
        | 20%
    .row
      .col-xs-3
        strong
          | Project:
      .col-xs-8
        | 40%
    .row
      .col-xs-3
        strong
          | Final Exam:
      .col-xs-8
        | 20%

    // Homeworks /////////////////////////////////////////////
    //
    .row
      .col-xs-12
        h4 Homeworks
    .row
      .col-xs-3
        strong
          | Due Date
      .col-xs-8
        strong
          | Topic
    each uri in homeworks
      .row
        .col-xs-3
          = alltriples[uri]['http://lod.isi.edu/ontology/syllabus/hasEventDate'][0].value
        .col-xs-8
          = alltriples[uri]['http://purl.org/dc/terms/title'][0].value
    // Quizzes /////////////////////////////////////////////
    //
    .row
      .col-xs-12
        h4 Quizzes
    .row
      .col-xs-12
        p
          | There will be a quiz every Monday unless it is a holiday, in which case the quiz will be on Wednesday. 
          | The quiz will have two parts. 
          | One part with conceptual questions that test your understanding of the topics covered in the previous week 
          | (the required readings for the two previous lectures). 
          | The other part with easy questions that test whether you read the required reading for the day of the quiz.

    // Projects /////////////////////////////////////////////
    //
    .row
      .col-xs-12
        h4 Projects
    .row
      .col-xs-12
        p
          | Students will work on in two person groups to develop integrated Web applications 
          | using the research and tools covered in the class.

    .row
      .col-xs-3
        strong
          | Due Date
      .col-xs-8
        strong
          | Project Event
    each uri in projectevents
      .row
        .col-xs-3
          = alltriples[uri]['http://lod.isi.edu/ontology/syllabus/hasEventDate'][0].value
        .col-xs-8
          = alltriples[uri]['http://purl.org/dc/terms/title'][0].value

    .row
      .col-xs-12
        h2 Textbook
    .row
      .col-xs-12
        p
          | There is one required textbook: Principles of Data Integration, by AnHai Doan, Alon Y. Halevy, and Zachary G. Ives. Morgan Kaufmann 2012. The book is available online from the USC library at  
          a(href='http://proquest.safaribooksonline.com.libproxy.usc.edu/book/databases/9780124160446') textbook link. 
          |We will also read technical papers on each topic.
    .row
      .col-xs-12
        h2 Statement on Academic Integrity
    .row
      .col-xs-12
        p
          | USC seeks to maintain an optimal learning environment. General principles of academic honesty include the concept of respect for the intellectual property of others, the expectation that individual work will be submitted unless otherwise allowed by an instructor, and the obligations both to protect one’s own academic work from misuse by others as well as to avoid using another’s work as one’s own. All students are expected to understand and abide by these principles. SCampus, the Student Guidebook, (www.usc.edu/scampus or http://scampus.usc.edu) contains the University Student Conduct Code (see University Governance, Section 11.00), while the recommended sanctions are located in Appendix A.
    
    .row
      .col-xs-12
        h2 Statement for Students with Disabilities
    .row
      .col-xs-12
        p
          | Any student requesting academic accommodations based on a disability is required to register with Disability Services and Programs (DSP) each semester. A letter of verification for approved accommodations can be obtained from DSP. Please be sure the letter is delivered to me (or to TA) as early in the semester as possible. DSP is located in STU 301 and is open 8:30 a.m.–5:00 p.m., Monday through Friday. Website and contact information for DSP: http://sait.usc.edu/academicsupport/centerprograms/dsp/home_index.html, (213) 740-0776 (Phone), (213) 740-6948 (TDD only), (213) 740-8216 (FAX) ability@usc.edu. 

    .row
      .col-xs-12
        h2 Emergency Preparedness/Course Continuity in a Crisis
    .row
      .col-xs-12
        p
          | In case of a declared emergency if travel to campus is not feasible, USC executive leadership will announce an electronic way for instructors to teach students in their residence halls or homes using a combination of Blackboard, teleconferencing, and other technologies.





